<div class="row bg-light p-3">
  <div class="col">
    <h4>Bucket list</h4>
  </div>
  <div class="col text-right">
    <button (click)="toggleViewForm()" id="toggle-view">Create new Bucket</button>
  </div>
  <div class="col-12">
    <form novalidate *ngIf="show" (ngSubmit)="onSubmit(bucket)" [formGroup]="bucket">
      <div class="row mt-3">
        <div class="col">
          <p>Create new bucket</p>
        </div>
      </div>
      <div class="row mt-1 mb-3">
        <div class="col">
          <label>Bucket name*</label>
          <input type="text" class="form-control" formControlName="name" id="name-input">
          <div class="error" *ngIf="bucket.get('name').hasError('required') && bucket.get('name').touched">
            Name is required
          </div>
          <div class="error" *ngIf="bucket.get('name').hasError('minlength') && bucket.get('name').touched">
            Minimum of 2 characters
          </div>
        </div>
        <div class="col">
          <label>Bucket location*</label>
          <select formControlName="location" *ngIf="locations" class="form-control">
            <option *ngFor="let city of locations" [value]="city.id">{{city.name}}</option>
          </select>
          <div
            class="error"
            *ngIf="bucket.get('location').hasError('required') && bucket.get('location').touched">
            Location is required
          </div>
        </div>
        <div class="col-12 text-right mt-3 mb-3">
          <button type="submit" [disabled]="bucket.invalid" id="btn-submit">Create Bucket</button>
        </div>
      </div>
    </form>
  </div>
</div>


